
section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}


section h1 {
  font-size: 3rem;
}

/* Posts list */
.App {
  text-align: center;
}

.review h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.review-excerpt {
  padding: 0.25rem 0.25rem;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 7px;
}

.review-list .review-excerpt + .review-excerpt {
  margin-top: 0.5rem;
}

.review-excerpt h3 {
  margin: 0;
  font-size: 1.5rem;
}

p.review-content {
  margin-top: 10px;
}
